* {
   padding: 0;
   margin: 0;
   font-size: 14px;
   --font-family: 'calibri', sans-serif;
   text-decoration: none;
   color: #ffffff;
   list-style: none;
   --color-green: #679e96; /* Background CONTENT */
   --color-blue: #1d3557; /* Background TOP and FOOTER */
   --overall-width: 100%; /*  */
   --color-red: #b31212; /*  */
}

body {
   background-color: #111;
}

#container {
   max-width: 1200px;
   height: auto;
   overflow: hidden;
   margin: 0 auto;
}

#top {
   width: 100%;
   height: 50px;
   float: left;
   background-color: #f1faee;
}

.logo {
   width: 45px;
   height: auto;
   float: left;
   margin: 5px;
}

.links_top {
   float: right;
   padding: 10px;
   margin: 5px;
   color: var(--color-red);
}

.links_top:hover {
   text-decoration: underline;
}

/* ------  End TOP  ------ */



/* ------  Beginning MENU  ------ */

#menu {
   width: var(--overall-width);
   height: auto;
   float: left;
   background-color: var(--color-green);
}

.links_menu {
   background-color: var(--color-blue);
   height: 46px;
}

.links_menu li a {
   float: left;
   padding: 15px;
   color: #f1faee;
}

.links_menu li a:hover {
   background-color: #457b9d
}

/* ------  End MENU ------ */



/* ------  Beginning CONTENT ------ */

div #content {
   width: var(--overall-width);
   height: auto;
   float: left;
   background-color: var(--color-green);
}

div #main-content {
   width: 70%;
   min-height: 600px;
   float: left;
   border: 1px solid #CCC;
   margin: 20px 10px;
}

div .posts {
   width: 100%;
   height: auto;
   overflow: hidden;
   float: left;
   margin: 10px 0;
   border-bottom: 1px solid #CCC;
}

.posts h1.titles {
   font-size: 25px;
   font-family: var(--font-family);
   text-align: center;
   width: 96%;
   margin: 5px 2%;
}

.posts img.image {
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 480px;
}

.posts p.paragrafe {
   font-size: 16px;
   margin: 10px 20px 0 20px;
   color: #000000;
   font-family: var(--font-family);
}

.posts span.date {
   font-size: 13px;
   margin: 0 20px;
   color: #211e1e;
   font-family: var(--font-family);
}

div #recent {
   width: 25%;
   min-height: 600px;
   float: left;
   border: 1px solid #CCC;
   margin: 20px 10px;
}

#sponsored {
   width: 96%;
   height: auto;
   overflow: hidden;
   float: left;
   margin: 10px 2%;
}

#sponsored .mrv {
   width: 100%;
}

#recent #sponsored .mrv .sponsored-img {
   max-width: 100%;
}


/* ------  End CONTENT ------ */



/* ------  Beginning FOOTER ------ */

#footer {
   width: var(--overall-width);
   height: auto;
   float: left;
   position: relative;
}

footer {
   position: sticky;
   bottom: 0px;
   width: var(--overall-width);
   background-color: var(--color-blue);
}

.main-content {
   display: flex;
}

.main-content .box {
   flex-basis: 50%;
   padding: 10px 20px;
}

.box h2 {
   font-size: 1.125rem;
   font-weight: 600;
   text-transform: uppercase;
}

.box .content {
   margin: 20px 0 0 0;
}

.box .content p {
   text-align: justify;
}

.left .content .social {
   margin: 20px 0 0 0;
}

.left .content .social a {
   padding: 0 2px;
}

.left .content .social a span {
   height: 40px;
   width: 40px;
   background: #457b9d;
   line-height: 40px;
   text-align: center;
   font-size: 18px;
   border-radius: 5px;
   transition: 0.3s;
}

.left .content .social a span:hover {
   background: var(--color-red);
}

.rigth .content .email input {
   color: var(--color-blue);
}

.rigth .content .msg textarea {
   color: var(--color-blue);
}

.rigth .content .bottom button {
   color: var(--color-blue);
}

/* ------  End FOOTER ------ */